# TESLA

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

## Reading Data

In [2]:
tsla = pd.read_csv('TSLA_5y_3mo.csv')
tsla

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-01,12.367333,17.738001,11.799333,16.107332,16.107332,6214609500
1,2019-08-01,16.176666,22.722668,14.066667,20.994667,20.994667,7463227500
2,2019-11-01,21.087999,43.533333,20.617332,43.371334,43.371334,11581039500
3,2020-02-01,44.912666,64.599335,23.367332,52.125332,52.125332,19124989500
4,2020-05-01,50.333332,119.666000,45.535999,95.384003,95.384003,13606647000
5,2020-08-01,96.613335,167.496674,91.000000,129.346664,129.346664,12381988800
6,2020-11-01,131.333328,300.133331,130.766663,264.510010,264.510010,8053918800
7,2021-02-01,271.429993,293.500000,179.830002,236.479996,236.479996,6431550000
8,2021-05-01,234.600006,235.333328,182.326660,229.066666,229.066666,4780642500
9,2021-08-01,233.333328,371.736664,216.279999,371.333344,371.333344,3901292400
10,2021-11-01,381.666656,414.496674,264.003326,312.239990,312.239990,5393508600
11,2022-02-01,311.736664,384.290009,233.333328,290.253326,290.253326,4641359400
12,2022-05-01,286.923340,318.500000,206.856674,297.149994,297.149994,5704333500
13,2022-08-01,301.276672,314.666656,198.589996,227.539993,227.539993,4729797300
14,2022-11-01,234.050003,237.399994,101.809998,173.220001,173.220001,8727022400
15,2023-02-01,173.889999,217.649994,152.369995,164.309998,164.309998,9441641300
16,2023-05-01,163.169998,299.290009,158.830002,267.429993,267.429993,8514561700
17,2023-08-01,266.260010,278.980011,194.070007,200.839996,200.839996,7531457100
18,2023-11-01,204.039993,265.130005,180.059998,187.289993,187.289993,7289181400
19,2024-02-01,188.500000,205.600006,138.800003,183.279999,183.279999,6397352700
20,2024-05-01,182.000000,187.559998,167.750000,175.675003,175.675003,1455555892